<header>
  <a href="/index.html">
    <div class="logo">
      <img src="/img/logopreta.PNG" alt="Logo" />
    </div>
  </a>

  <div class="mobile-menu">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>

  <nav>
    <ul class="nav-list">
      <li class="logo-item">
        <a href="/index.html">
          <div class="logo">
            <img src="/img/logopreta.PNG" alt="Logo">
          </div>
        </a>
      </li>
      <li><a href="/projetos.html">Projetos</a></li>
      <li><a href="/obras.html">Obras Concluídas</a></li>
      <li><a href="/sobrenos.html">Sobre nós</a></li>
      <li><a href="/contato.html">Contato</a></li>
    </ul>
  </nav>
</header>
